@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #000;
}

a {
  transition: all 0.2s ease-out;
}

p {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 30px;
}