$desktop: "only screen and (min-width: 1599px)";
$sDesktop: "only screen and (min-width: 1365px)";
$tablet: "only screen and (min-width: 1279px)";
$sTablet: "only screen and (min-width: 1023px)";
$mobile: "only screen and (min-width: 767px)";
$mMobile: "only screen and (min-width: 479px)";

$colors: (
   primary: #5D86DE,
   dark: #222
);

$fontComfortaa: 'Montserrat', sans-serif;

.container{
   margin-left: 15px;
   margin-right: 15px;
   padding: 15px 0;

   @media #{$mobile} {
      margin-left: 30px;
      margin-right: 30px;
      padding: 15px 10px;
   }
   @media #{$tablet} {
      margin-left: 5vw;
      margin-right: 5vw;
      padding: 30px 20px;
   }
   @media #{$desktop} {
      margin-left: auto;
      margin-right: auto;
      max-width: 1600px;
   }
}

@keyframes appear{
   0% {
      opacity: 0;
      transform: translateY(30px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}